.membership-management {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 50px 30px; 
}

.membership-management h2 {
    margin-bottom: 20px;
    color: #333333;
}

.input-field {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 90px);
    max-width: 300px;
    box-sizing: border-box;
}

.checkbox-field {
    margin-left: 10px;
}

.filter-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.filter-row {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.filter-row label {
    font-weight: bold;
    color: #333333;
}

.filter-row input[type="date"],
.filter-row select,
.filter-row input[type="text"] {
    @extend .input-field;
    font-size: 16px;
}

.filter-row button {
    background-color: rgb(42, 57, 88);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.filter-row button:hover {
    background-color: #0056b3;
}

.channel-label {
    margin-left: 20px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.button-primary {
    background-color: rgb(42, 57, 88);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: larger;
    transition: background-color 0.3s ease;
    margin-left: auto;
    margin-right: auto;
}



.button-secondary {
    background-color: #e0e0e0;
    color: #333333;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-secondary:hover {
    background-color: #b0b0b0;
}
